@model BugRaven.Models.Bug

<h2>Details</h2>
<hr>

<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        @Model.Description
    </div>
</div>
<a asp-action="index" asp-controller="home" class="btn btn-link">Back to list</a>